<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Bibliotheque</display-name>
  <welcome-file-list>
    <welcome-file>/WEB-INF/fichierweb/accueil.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>supr</display-name>
    <servlet-name>supr</servlet-name>
    <servlet-class>servlet.AfficheLivreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>supr</servlet-name>
    <url-pattern>/supr</url-pattern>
  </servlet-mapping>
</web-app>